<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <staticContent>
            <mimeMap fileExtension=".mkv" mimeType="video/x-matroska" />
            <mimeMap fileExtension=".iso" mimeType="application/octetstream" />
        </staticContent>
    </system.webServer>
</configuration>
